@charset "utf-8";

/* CSS Document */

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 1.56vh;
    letter-spacing: 1px;
    padding: 3.91vh;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */

nav {
    text-align: center;
}

nav h1 {
    margin: auto;
    width: 100%;
    display:inline-block;
    background-color: #252831;
    padding:20px 0;

}

nav h1 a {
    color: #fff;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
    width: 100%;

}

#breadcrumb {
    padding: 10px 0px 10px 20px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    width: 100%;
}


/* Display list items side by side */

#breadcrumb li {
    display: inline;
}
#breadcrumb > ul{
    padding: 0;
    margin: 0 5px;
}

#breadcrumb > ul > li > a{
    padding: 0;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}





/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    padding: 16px 3px;
}


/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
    height: 68.921vh;
    width: 100%;
    background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    background-color: #3397DB;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-options h2 {
    color: white;
    font-size: 2.5vh;
    font-weight: normal;
    line-height: 1;
    margin: 3.1vh;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 5.5vh;
    letter-spacing: 0;
    padding: 0 22px;
    width: 200px;
    margin: 10px;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    text-align: center;
    margin: 2px 0;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#restaurants-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 12px auto;
    width: 187px;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    max-width: 100%;
    /* min-height: 100%; */
    min-width: 100%;
}

#restaurants-list li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 10px;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px auto;
    padding: 0px 7px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 400px;
    right: 0;
    top: 80px;
    width: 100%;
    margin-top: 109px;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: relative;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 100%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 18pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    margin: 0 auto;
    text-align: center;
}

#reviews-list {
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
    margin: 10px auto;
    text-align: center;
}

#reviews-list li p {
    margin: 0 auto;
    text-align: center;
    padding: 4px;
    font-size: 12px;
}

#reviews-container>h3 {
    font-size: 19px;
}

#restaurant-hours td {
    color: #666;
    position: block;
    text-align: center;
}

#restaurant-hours {
    text-align: center;
    margin: 0 auto;
}


/* Media Queris */

@media screen and (max-width: 370px){
    #map {
        height: 53.8vh;
    }
}

@media screen and (max-width: 449px) {
    #footer {
        font-size: 10px;
    }
    .filter-options {
        flex-direction: column;
    }
    #maincontent>section:nth-child(3)>div>h2 {
        margin: 15px 0;
    }
    #neighborhoods-select {
        margin: 0;
    }
    #restaurant-map {
        height: 53.2vh;
    }
    nav h1 a {
        font-size: 15px;
    }
}

@media screen and (min-width: 251px) and (max-width: 449px) {
    #restaurant-map {
        height: 55.5vh;
    }
}

@media screen and (min-width: 450px) {
    .filter-options {
        flex-direction: row;
    }
    #map {
        height: 68.9vh;
    }
    #maincontent>section:nth-child(3)>div>h2 {
        margin: 15px 0;
    }
    #neighborhoods-select {
        margin: 10px;
    }
    .filter-options select {
        width: 32.96vw;
    }
    nav h1 a {
        font-size: 18px;
    }
}

@media screen and (min-width: 608px) {
    #restaurants-list li {
        width: 400px;
    }
    #restaurants-list li h1 {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 0.3;
        margin-bottom: 22px;
    }
    #restaurants-list p {
        font-size: 16px;
    }
    #restaurants-list li a {
        background-color: orange;
        border-bottom: 3px solid #eee;
        color: #fff;
        display: inline-block;
        font-size: 13pt;
        margin: 15px auto;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    #reviews-list li p {
        margin: 0 auto;
        text-align: center;
        padding: 4px;
        font-size: 16px;
    }
    #reviews-container>h3 {
        font-size: 25px;
    }
    #restaurant-address {
        font-size: 25px;
    }
    #restaurant-hours>tr>td {
        font-size: 18px;
    }
    #breadcrumb li{
        font-size: 18px;
    }
}


/* FOCUS */

body>header>nav>h1>a:focus {
    background-color: rgb(0, 255, 221);
}